snippet bash "Code"
```bash
$1
```
$0
endsnippet

snippet "ch(|eck)" "A checkbox" r
- [ ] $0
endsnippet

snippet ln "Link"
[$1]($2)$0
endsnippet

snippet toc "Table of Contents"
# Table of Contents
endsnippet
