extends javascript

snippet css "emotion css prop"
css={css\`$1\`}$0
endsnippet

snippet divc "Div with css prop"
<div
  css={css\`
	$1
	\`}>
  $0
</div>
endsnippet

snippet rfunc "React Functional Component"
type Props = {$2}

const $1: React.FunctionComponent<Props> = ({$3}: Props) => {
	$0
}
endsnippet
