snippet shared_fs "PEDL shared_fs checkpoint storage"
checkpoint_storage:
  type: shared_fs
  container_path: "/storage"
  host_path: "/tmp/pedl"
  save_experiment_best: 0
  save_trial_best: 1
  save_trial_latest: 1
endsnippet

snippet ckpt "checkpoint and validate on every step"
min_validation_period: 1
min_checkpoint_period: 1
max_restarts: 0
endsnippet
